*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: black;
}
header{
    display: flex;
    background: linear-gradient(90deg,black,white,white,rgb(255, 255, 255),black);
    opacity: 0.8;
}
.navbar{
    display: flex;
    text-align: center;
    background-color: black;
    filter: contrast(80%);
    color: white;
    text-decoration: none;

}
li{
    float: left;
}
li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
#tnam{
    position: absolute;
    right: 5%;
}
main{
    gap: 20px;
    display: flex;
}
aside{
    width: 15%;
    border: solid white;
}
#center{
    width: 70%;
    border: solid white;
    display: flex;
    flex-direction: column;
}
.first{
    gap: 10%;
    border: solid white;
    display: flex;
}
#profile{
    border: solid white;
    border-radius: 50%;
    width: 240px;
    height: 400px;
}
#sect-message{
    align-content: center;
    border: solid wheat;

}
#message{

}
.second{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    border: solid white;
}
#i-am{
    font-size: 200%;
}
#profile-2{
    border: solid white;
    padding: 10%;
}
#img-random{
    
}
.third{
    padding: 20%;
    border: solid white;
}
footer{
    border: solid rgb(220, 56, 56);
}